<?php
//Local cache configuration
return array(
    //Configuration of caches used for individual cache subjects
    //To turn cache off, set it to null: 'cache' => null
    'cache' => array(
        //Use non-default repo cache
        //'repository'                    => 'repository_zsdisk',
        //Disable repo cache
        //'repository'                    => null,

        //Use non-default nav cache
        //'navigation'                    => 'navigation_zsdisk',
        //Disable nav cache
        //'navigation'                    => null,

        //Use non-default overview cache
        //'overview'                      => 'overview_zsdisk',
        //Disable overview cache
        //'overview'                      => null,

        //Transliteration caches are not normally used
        //'translit_path'                 => null,
        //'translit_url'                  => null,
        //'translit_doc_title_to_path'    => null,
        //'translit_mb_string_compare'    => null,
    ),

    //Cache manager configuration - define custom caches here
    'cache_manager'         => array(
        //Cache definition example
//        'mycache_fs'     => array(
//            //Options to pass to StorageFactory::factory()
//            'adapter'   => array(
//                'name'      => 'Filesystem',
//                'options'   => array(
//                    'cache_dir' => __DIR__ . '/../../data/cache/mycache',
//                    'namespace' => 'mycache',
//                ),
//            ),
//            'plugins'   => array(
//                'serializer'    => array(),
//            ),
//        ),
    ),
);